*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    padding: 20px;

}

form input[type="radio"] {
    accent-color: #1d72b8;
    margin-bottom: 10px;
    margin-right: 8px;
    justify-content: space-around;
    transform: scale(1.2);
}
label{
    margin-right: 20px;
    font-size: 16px;

}

.options {
    cursor: pointer;
}



.quiz{
    background-color: #f2f2f2;
    padding: 20px;  
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
}
h2{
    padding: 20px;
}

#submit{
    font-family: sans-serif;
    width: 100%;
    border: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.05);
    font-size: 16px;

}